.auth {
    height: 100%;
    width: 80%;
    max-width: 900px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth__form {
    padding: 10px;
    text-align: center;
    border: 1px solid #88888888;
    border-radius: 5px;
    background: #fff;    
    width: 50%;
}

.auth__title {
    color: rgb(18, 156, 13);
}

#auth-form {
    width: 100%;
}

.auth__label {
    vertical-align: middle;
    color: #000;
    display: inline-block;
    width: 70px;
    color: black;
    text-align: left;
}

.auth__input {
    vertical-align: middle;
    width: 180px;
    height: 25px;
    border-radius: 3px;
    border-color: #88888888;
    border-width: 1px;
    background: white;
}

.auth__button {
    border-width: 0;
    border-radius: 5px;
    background: #39a739cc;
    color: white;
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}

.auth__button:hover {
    background: rgb(18, 156, 13);
}

